/*=============================================
=             variables - colors              =
=============================================*/

/*----------  opacity  ----------*/

$alpha: 0.1;

/*----------  colors  ----------*/

// primary
$white: #FFF;
$black: #000;

// grey
$grey: #999;
