/*=============================================
=              Variables - Text               =
=============================================*/

// Fonts
$stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font: $stack;
$mono: monospace;

// Text colors
$text-black: $black;
$text-white: $white;

// Font weights
$normal: normal;
$bold: bold;
